@font-face {     
    font-family: Glirock;     
    src:url(public/font/Glirock-Regular.otf);     
    font-family: Queenside;     
    src:url(public/font/QueensidesMedium-x30zV.ttf); 
}

*{
    margin: 0;
    padding: 0;
}


.retour {
    font-family: "Queensides";
    font-size: 17px;
    float: left;
    padding-left: 15px;
    padding-top: 15px;
    margin-left:0;
}

.navigation {
    background-image: url('../images/Header/headerAzalais.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 110%;
    display:flex;
    }

body {
    background-color: white;
    background-image: url('../images/Goodies/Traitsnoir.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

h1, h2 {
    font-family: Glirock;
    text-align: center;
    padding-bottom: 5%;
    color: black;
}

h2 { 
    font-size: x-large;
}

p, main ul, main li, strong{
    font-family: Queenside; 
    list-style-type: none;
    text-align: left;
    color: black;
}

p {
    padding-bottom: 10%;
}

.sousverreNoir {
    width: 200%;
    margin: -79px -268px;
}

.contenu {
    width: calc(95% - 170px);
    justify-content: center;
    flex: 1;
    font-size: larger;
    margin-right: 25%;
    margin-top: 5%;
    color: white;
}

.container{
    display: flex;
}

.image{
    flex:1;
    justify-content: center;
}
